*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #f9f9f9;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.icons {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}

header {
  background: #1c060f;
  color: #fff;
  padding-top: 35px;
  position: relative;
}
header img {
  width: 270px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 -80px 0 0;
}
header .button {
  margin-bottom: -30px;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./header_bg.jpg) center no-repeat;
  background-size: auto 100%;
  opacity: 0.5;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-radial-gradient(
    50% 50%,
    circle,
    rgba(29, 6, 15, 0.2) 0,
    rgba(29, 6, 15, 0.9) 90%
  );
  background: radial-gradient(
    circle at 50% 50%,
    rgba(29, 6, 15, 0.2) 0,
    rgba(29, 6, 15, 0.9) 90%
  );
}
.header__wrap {
  padding: 70px 0 0;
  position: relative;
}
.header__over-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.header__title {
  width: 60%;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 300;
  padding: 20px 0 0;
  position: relative;
}
.header__headline {
  width: 60%;
  line-height: 1.7;
  font-size: 14px;
  padding: 20px 0;
  text-shadow: 0 0 15px #1c060f, 0 0 15px #1c060f;
  position: relative;
}
.button__wrap {
  padding: 0;
  text-align: center;
}

.skill {
  padding: 65px 0 30px;
  position: relative;
}
.skill:before {
  content: "";
  background: url(./skill_bg.png) left top no-repeat;
  background-size: auto 100%;
  max-width: 50%;
  width: 865px;
  height: 390px;
  max-height: 658px;
  position: absolute;
  top: 0;
  right: 0;
}
.title {
  text-transform: uppercase;
  font-size: 30px;
}
.skill__subtitle {
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 10px;
}
.skill__wrap {
  width: auto;
  position: relative;
  padding-bottom: 30px;
}
.skill__wrap:before {
  content: "";
  width: 85px;
  height: 300px;
  display: block;
  float: right;
}
.skill__text {
  line-height: 1.6;
  padding: 10px 0;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}
.skill__slider {
  padding: 30px 0 0;
}
.citation {
  position: relative;
  color: #fff;
  padding: 50px 10px;
  background: rgba(29, 6, 15, 0.8);
}
.citation .button__wrap {
  padding: 0;
  text-align: center;
}
.citation .button {
  font-size: 14px;
  padding: 20px 5px;
  text-decoration: none;
}
.citation .citation:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-radial-gradient(
    50% 50%,
    circle,
    rgba(29, 6, 15, 0.2) 0,
    rgba(29, 6, 15, 0.9) 90%
  );
  background: radial-gradient(
    circle at 50% 50%,
    rgba(29, 6, 15, 0.2) 0,
    rgba(29, 6, 15, 0.9) 90%
  );
}
.citation__text {
  line-height: 1.6;
  padding: 20px 0 5px 40px;
  position: relative;
}
.citation__text:before {
  content: "";
  background: url(./icon_qoutes.svg) center no-repeat;
  background-size: contain;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0;
}
.citation__decore {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -50px;
  opacity: 0.15;
}
.citation__photo {
  margin: 15px 0 20px 0;
  border-radius: 50%;
  width: 90px;
}
.services {
  padding: 65px 0 0;
  background: #3f2c33;
  background: #4a2130;
  background: #411f2c;
}
.services__wrap {
  padding: 15px 0 80px;
}
.services__case {
  padding: 0 10px 0;
  position: relative;
  background: #fff;
}
.services__case_01 {
  z-index: 4;
}
.services__case_02 {
  background: #d3d9ff;
  background: #e5e5e5;
  z-index: 3;
}
.services__case_03 {
  background: #fdeae5;
  background: #d9d9d9;
  z-index: 2;
}
.services__case_04 {
  background: #e5fdf5;
  background: #cccccc;
  z-index: 1;
}
.services__case_05 {
  background: #323445;
  color: #fff;
}
.services__item {
  line-height: 1.5;
  padding: 10px 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.services__item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.services__text {
  font-size: 16px;
  padding: 15px 10px 0;
  max-width: 670px;
}
.services__price {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 10px;
  text-align: right;
  position: relative;
}
.services__price:after {
  content: "";
  width: 180px;
  border-top: 2px solid #729bde;
  position: absolute;
  bottom: 0;
  right: 0;
}
.contacts {
  padding-top: 65px;
}
.services .title {
  color: #fff;
}
.contacts__map {
  padding-top: 10px;
}
.contacts__map iframe {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 276px;
}

@media (min-width: 768px) {
  header:before {
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 1170px;
  }
  .button__wrap {
    padding: 50px 0;
  }
  .button {
    font-size: 24px;
  }
  .title {
    font-size: 30px;
  }
  header {
    padding-top: 120px;
  }
  header img {
    min-width: 610px;
    position: absolute;
    bottom: 0;
    left: 100%;
    margin: 0 0 0 35px;
  }
  header .button {
    margin-bottom: 0;
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  .header__wrap {
    width: 50%;
    padding: 100px 15px 100px;
    position: relative;
  }
  .header__over-title {
    font-size: 30px;
    font-weight: 100;
    padding: 0 0 20px;
  }
  .header__title {
    width: 60%;
    text-transform: none;
    font-size: 50px;
    padding: 30px 0 60px;
  }
  .header__headline {
    width: auto;
    font-size: 24px;
    line-height: 1.5;
    padding: 0 0 65px;
  }
  .citation .button__wrap {
    text-align: left;
  }
  .citation .button {
    font-size: 16px;
  }
  .button__wrap {
    text-align: left;
  }
  .skill {
    padding: 100px 0;
  }
  .skill:before {
    height: 658px;
  }
  .skill__subtitle {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .skill__wrap {
    width: 60%;
    padding-bottom: 100px;
  }
  .skill__text {
    padding: 10px 70px 10px 0;
  }
  .title {
    font-size: 50px;
  }
  .citation {
    padding: 100px 0;
  }
  .citation button {
    font-size: 16px;
  }
  .citation__case {
    font-size: 0;
    padding: 65px 100px 0 0;
    position: relative;
  }
  .citation__cell {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
    min-width: 30%;
  }
  .citation__text {
    font-size: 24px;
    line-height: 1.9;
    padding: 0 0 65px 60px;
  }
  .citation__text:before {
    width: 50px;
    height: 35px;
    margin: -5px 0 0;
  }
  .citation__decore {
    position: absolute;
    width: 430px;
    height: 305px;
    top: 0;
  }
  .citation__photo {
    margin: 0 0 20px auto;
    width: auto;
  }
  .services {
    padding: 100px 0 0;
  }
  .services__wrap {
    padding: 40px 0 80px;
  }
  .services__item {
    padding: 30px 60px 45px;
    min-height: 176px;
    width: 100%;
    display: table;
  }
  .services__cell {
    display: table-cell;
    vertical-align: bottom;
  }
  .services__text {
    display: table;
    width: 100%;
    font-size: 23px;
    padding: 30px 0;
  }
  .services__price {
    font-size: 30px;
    padding: 30px 0;
  }
  .services__price:after {
    width: 380px;
  }

  .contacts {
    padding-top: 100px;
  }
  .contacts__map {
    padding-top: 30px;
  }
  .contacts__map iframe {
    min-height: 576px;
  }
}
